body {
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    padding: 10px 20px;
}

#tree {
    height: 500px;
    overflow: auto;
    margin: 10px 0;
}

.fbrowser .item.archive {
    background-image: url('../img/archive.gif');
}