<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="fBrowser Demo Application"/>
    <meta name="author" content="azhuchkov"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>

    <title>fBrowser Demo Application</title>

    <link th:href="@{/jquery.fbrowser/css/jquery.fbrowser.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
    <!-- Main content -->
    <main>
        <h3>fBrowser Demo Application</h3>
        Browsing directory: <span th:text="${@fileSystem.base.absolutePath}"></span>
        <div id="tree"></div>
    </main>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/jquery.fbrowser/js/jquery.fbrowser.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>
</html>